<ul class="social-media-list" style="list-style:none; padding:0; display:flex; justify-content:center; gap:20px; align-items:center; margin-top:10px;">
  <li>
    <a href="https://github.com/CunchengZhu" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/github.svg" width="22">
    </a>
  </li>

  <li>
    <a href="https://scholar.google.com/citations?user=ivFg5KoAAAAJ&hl=en&oi=ao" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/googlescholar.svg" width="22">
    </a>
  </li>

  <li>
    <a href="https://www.linkedin.com/in/cunchengzhu/" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" width="22">
    </a>
  </li>

  <li>
    <a href="https://www.youtube.com/@CunchengZhu" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/youtube.svg" width="22">
    </a>
  </li>

  <li>
    <a href="https://orcid.org/0000-0003-1373-3492" target="_blank">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/orcid.svg" width="22">
    </a>
  </li>

</ul>