<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <head>
    <style>
        .image-side {
            float: left; /* or 'left' if you want it on the left */
            margin: 20px 20px 0px 0px; /* This adds space around the image */
        }
    </style>
  </head>


  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
