<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <head>
    <style>
        .image-side {
            float: left; /* or 'left' if you want it on the left */
            margin: 20px 20px 0px 0px; 
             /* Adjust the border size and style to fit your needs */
            border: 5px solid white;
            
            /* Optional styles */
            border-radius: 5%; 
            box-shadow: 0 2px 4px rgba(1, 0, 0,0.2); /* Optional: adds a shadow for a 3D effect */
        }
    </style>
  </head>


  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
