---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  I am a graduate student in the Department of Mechanical and Aerospace Engineering Department at the University of California, San Diego specialized in <a href="https://csme.ucsd.edu">Computational Science, Mathematics and Engineering (CSME)</a>. 
  I am advised by <a href="http://stokeslet.ucsd.edu">Prof. David Saintillan</a> and <a href="https://cseweb.ucsd.edu/~alchern/">Prof. Albert Chern</a>. 
  I am interested in understanding shape and flow of soft material using the mathematical language of  partial differential equations and differential geometry.
  In particular, the so-called developmental biology and morpphogenesis problems are of my interests due to its active nature. 
  Also because of its societal impact. 
  How the population crisis and gender inequality can be solved by better understanding the developmental biology of human embryo?


  
  understanding geometric and soft matter mechanics problems in biological systems. 
  I am currently working on developing the theoretical and computational framework to study active nematic fluid on curved surfaces. 
  <br> <br>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

 <h1> News </h1>
 <hr>

  {%- if posts.size > 0 -%}

    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
