---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <img src="../assets/images/profile.jpg" alt="Descriptive Text" class="image-side" width="200" style="border: 1px solid #000; display: block;">

   <!-- <a href="https://csme.ucsd.edu">Computational Science </a>.  -->
<p>I am a PhD student specializing in Computational Science at the Department of Mechanical and Aerospace Engineering, UC San Diego. I am under the guidance of <a href="http://stokeslet.ucsd.edu">Prof. David Saintillan</a> and <a href="https://cseweb.ucsd.edu/~alchern/">Prof. Albert Chern</a>. <em> I am currently seeking a postdoctoral position starting in Fall 2025. </em> <p>
  
<p>My primary research interest lies in understanding the shape and flow of soft materials. This involves leveraging partial differential equations and (discrete) differential geometry. Soft matters, often termed as "complex fluids", have subsets that are active and inherently out of equilibrium, especially abundant in biological systems. Specifically, I working on a specfic area of soft matter: active nematics on curved surfaces. This topic is pivotal for decoding fundamental challenges in developmental biology, such as morphogenesis.
I develop theories and computational methods associated with the study of active nematics. 
The broader perspective of my work aims to establish a framework for applying engineering principles to soft and biological materials, such as the design of morphing materials driven by active constituents.
<!-- This could revolutionize the design of morphing materials driven by active constituents. --></p>

<p>From a mathematical standpoint, I have a keen interest in the geometric reformulation of mechanics, often referred to as geometric mechanics. For example in my previous projects, I employ the Hamilton least action principle to discern the configuration of membrane equilibrium shapes, using a scalar functional, the Helfrich energy. In surface fluid, the dynamics of Stokes flow can be formulated using Helmholtz minimal dissipation principle. They not only render an elegant insight to the problem but also provide a powerful computational framework to solve the problem.</p>

<p>In my previous research, I worked with <a href="https://labs.biology.ucsd.edu/ctlee/">Prof. Christopher T. Lee</a> and  <a href="https://sites.google.com/eng.ucsd.edu/prangamani/">Prof. Padmini Rangamani</a> on a numerical scheme that solves the dynamics of a 3D lipid bilayer by an
  <math xmlns="http://www.w3.org/1998/Math/MathML">
    <mrow>
      <msub>
        <mi>L</mi>
        <mn>2</mn>
      </msub>
    </mrow>
  </math> 
gradient flow of a discrete Helfrich bending Hamiltonian.</p>

<p>I co-develop and maintain an open-source C++ software <a href="https://github.com/CunchengZhu/Mem3DG">Mem3DG</a>. I advocate transparent and accessible computational research.
  
  <!-- Also because of its societal impact. 
  How does a better understanding the developmental biology help with societal problems such as population crisis and gender inequality. -->
  <br> <br>
  <!-- <hr> -->

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

 <h1> News </h1>

  {%- if posts.size > 0 -%}

    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
